@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.banner {
    height: 600px;
    position: relative;
    background: #AB7A5E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    opacity: 0.6;
}

.banner_title {
    line-height: 1.5;
    font-size: 2.5em;
    margin-bottom: 5em;
    font-family: times;
} 


.banner_info {
    padding: 0.1em;
    position: absolute;
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: #fff;
    margin: auto;
}

.menunavegacion{
    padding: 1rem;
    margin: 0;
    display: block;
    background-color: #65C1FC;
    font-weight: bold;
    margin-right: 0;
    padding-left: 0;
}

.menunavegacion a {
    display: inline;
    padding: 0.5rem;
    border-right: 1px solid black;
    margin-left: 2px;
    font-family: times;
    letter-spacing: 2px;
}

.menunavegacion a:hover {
    background-color:#87C1FC;
    padding: 1rem;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #C3DCFA;
}

form {
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: -600px;
    border-radius: 7px;
    margin-left: 1200px;
}

.opcion{
    width: 250px;
    background: white;
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: calibri;
    font-size: 18px;
}

h2{
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
 min-height: 100px;
}

.seleccion p{
    font-size: 1.4em;
}

.mapa{
    margin-top: 3%;
}

/*FOOTER*/ 
*{  box-sizing: border-box;
    font-family:times;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

.container {flex: 1;   /*same as flex-grow: 1;*/}

footer{
    background-color:#65C1FC;
    color: white;
    line-height: 1.5;
    margin-top: 17rem;

}

footer a{
    text-decoration: none;
    color:black;  
}


.ft-social {
    padding: 0 1.875rem 1.25rem;
    text-align: center;
}

.ft-social h3{
    margin-bottom: 3rem;
    padding-top: 2rem;
    color:  black;
}

.social-icons a{
    color:black;
}

.social-icons li{
    display: inline;
    font-size: 1.2em;
    padding: 1.5em;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin:0.5rem; 
    font-size: 1.25rem;
    margin:0.5rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #C3DCFA;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    color: black;
} /*one before the last child*/

.ft-legal-list p {margin: 0.125rem 0.625rem;    
}

.ft-legal-list li: nth-last-child(2) {
    flex: 1; /*same as flex-grow: 1;*/ 
}

.logo_img {
    background-color: #777 solid;
    height: 150px;
    width: 150px;
    margin-left: 109rem;
    margin-top: -4rem;
}