
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('formulario.jpg');
}

.registro {
    width: 400px;
    background: #B3A584;
    opacity: 0.9;
    padding: 80px;
    margin: auto;
    margin-top: 50px;
    font-family: calibri;
    margin-bottom: 10px;
    line-height: 2rem;
}

.registro h2 {
    margin-bottom: 20px;   
    font-size: 22px;
    font-family: cali;
}

.control {
    width: 250px;
    background: white;
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: calibri;
    font-size: 18px;
}

.boton {
    width: 250px;
    background: black;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px; 
}
