.banner {
    height: 300px;
    position: relative;
    background:#9E0832;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_title {
    line-height: 1.5;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-family: times;
}

.banner_info {
    padding: 0.1em;
    position: absolute;
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: #fff;
    margin: auto;
}

.menunavegacion{
    padding: 1rem;
    margin: 0;
    display: block;
    background-color: #57001A;
    font-weight: bold;
    margin-right: 0;
    padding-left: 0;
}

.menunavegacion a {
    display: inline;
    padding: 0.5rem;
    border-right: 1px solid black;
    margin-left: 2px;
    font-family: times;
    letter-spacing: 2px;
}

.menunavegacion a:hover {
    background-color:#BD001A;
    padding: 1rem;
}

nav h3 {
    font-family:Californian FB;
    line-height: 1.5;
    margin-right: 5px;
    margin-left: 8px; 
}

nav li {
    font-family: Californian FB;
}

body{
    display: flex;
    flex-direction: column;    
    background-color:#333;
    text-align: justify;
    color: white;
    font-family: calibri;
    line-height: 1.5;
    margin-right: 5px;
    margin-left: 5px;  
    font-size:1.2rem;
}

.container-all {
    width: 50%;
}

.container-all img {
    float: left;
    width: 50%;
    height: 50%;
    margin-top: 5rem;
}

h3 {
    margin-left: 31rem;
    text-align: left;
    padding: 1rem 0rem;
    margin-top: 5rem;
    font-family: calibri;
}


li {
    margin-left: 31rem;
     text-align: left;
    padding: 1rem 0rem;  
    font-family: calibri;
}

h2 {
    font-family: calibri;
}